{{define "scenarios/map"}}
<div id="login-info">
    <div id="user-id">
        {{.User.Username}}
    </div>
    <div id="scenario-name">
        {{.Scenario.Name}}
    </div>
    <div id="scenario-id">
        {{.Scenario.ID}}
    </div>
</div>
<div id="loading-page">
    <div id="loading-info">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <div class="row" style="margin-top: 150px;">
                    <div class="col-sm-4 text-right">
                        <img src="/assets/images/loading.gif" alt="">
                    </div>
                    <div class="col-sm-7 col-sm-push-1">
                        <div id="progress-info">
                            <div id="box1">
                                <p><span> Preparing modeling files ... </span></p>
                            </div>
                            <div id="box2">
                                <p><span> Modeling BMPs ... </span></p>
                            </div>
                            <div id="box3">
                                <p><span> Writing results to database ... </span></p>
                            </div>
                            <div id="box4">
                                <p><span> Visualizing the output ... </span></p>
                            </div>
                            <div id="box5">
                                <p><span> Thanks for your patience ... </span></p>
                            </div>
                            <div id="box6">
                                <p><span> Finishing in seconds ... </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="stepwizard" id="process-control">
        <div class="stepwizard-row">
            <div class="liner"></div>
            <div class="stepwizard-step">
                <a id="process-icon1" class="btn icon-btn btn-danger"><span class="glyphicon btn-glyphicon glyphicon-grain img-circle text-danger"></span><span id="process-status1"></span></a>
            </div>
            <div class="stepwizard-step">
                <a id="process-icon2" class="btn icon-btn btn-default"><span  class="glyphicon btn-glyphicon glyphicon-cog img-circle text-default"></span><span id="process-status2"></span></a>
            </div>
            <div class="stepwizard-step">
                <a id="process-icon3" class="btn icon-btn btn-default"><span class="glyphicon btn-glyphicon glyphicon-random img-circle text-default"></span><span id="process-status3"></span></a>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Optional</small>
                </p>
            </div>
            <div class="stepwizard-step">
                <a id="process-icon4" class="btn icon-btn btn-default"><span class="glyphicon btn-glyphicon glyphicon-usd img-circle text-default"></span><span id="process-status4"></span></a>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Optional</small>
                </p>
            </div>
            <div class="stepwizard-step">
                <a id="process-icon5" class="btn icon-btn btn-default"><span class="glyphicon btn-glyphicon glyphicon-save-file img-circle text-default"></span><span id="process-status5"></span></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="bmp-select-page">
        <div class="row">
            <div class="col-sm-9">
                <div class="row map-tool-bar">
                    <div class="col-sm-6">
                        <form class="navbar-form navbar-left" role="search" id="search-prevent">
                            <button class="btn btn-success map-switch-btn map-btn" type="button" id="show-field-map" href="#field-map"><span class="show-field"></span></button>
                            <button class="btn btn-primary map-switch-btn map-btn" type="button" id="show-subbasin-map" href="#subbasin-map" disabled><span class="show-subbasin"></span></button>
                            <div class="form-group search-field-subbasin">
                                <div class="input-group">
                                    <input id="search-feature" type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="map-size-adjust">
                    <div id="map" class="map">
                    </div>
                    <div class="bmp-select-tool" id="select-panel1">
                        <table class="table">
                            <tr>
                                <td><a href="#" data-toggle="tooltip" title="Conservation Tillage!">CT</a></td>
                                <td>
                                    <input id="ct" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                                <td><a href="#" data-toggle="tooltip" title="Cover Crop">CC</a></td>
                                <td>
                                    <input id="cc" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" data-toggle="tooltip" title="Nutrient Management">NM</a></td>
                                <td>
                                    <input id="nm" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                                <td><a href="#" data-toggle="tooltip" title="Water and sediment control basins">WasCobs</a></td>
                                <td>
                                    <input id="wascobs" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" id="bmp-submit">Confirm</button>
                        </div>
                    </div>
                    <div class="bmp-select-tool" id="select-panel2">
                        <table class="table">
                            <tr>
                                <td><a href="#" data-toggle="tooltip" title="Conservation Tillage!">CT</a></td>
                                <td>
                                    <input id="ct2" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                                <td><a href="#" data-toggle="tooltip" title="Cover Crop">CC</a></td>
                                <td>
                                    <input id="cc2" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" data-toggle="tooltip" title="Nutrient Management">NM</a></td>
                                <td>
                                    <input id="nm2" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO">
                                </td>
                                <td><a href="#" data-toggle="tooltip" title="Water and sediment control basins">WasCobs</a></td>
                                <td>
                                    <input id="wascobs2" type="checkbox" name="my-checkbox" data-size="mini" data-on-color="success" data-off-color="warning" data-on-text="YES" data-off-text="NO" disabled>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" id="bmp-submit">Confirm</button>
                        </div>
                    </div>
                    <div id="feature-info">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div id="bmp-selection-way" class="text-right">
                        <form class="navbar-form navbar-left " role="search ">
                            <button class="btn btn-success map-switch-btn map-btn" id="manual-select-btn" type="button">Manual</button>
                            <button class="btn btn-default map-switch-btn map-btn" id="select-all-btn" type="button">Select all</button>
                        </form>
                    </div>
                </div>
                <div class="map-size-adjust">
                    <div class="row">
                        <div id="bmp-select-table" class="col-sm-12">
                            <table class="table table-condensed table-hover">
                                <tr class="table-title">
                                    <th style="padding-top:11px;">ID</th>
                                    <th style="padding-top:11px;">CC</th>
                                    <th style="padding-top:11px;">CT</th>
                                    <th style="padding-top:11px;">NM</th>
                                    <th style="padding-top:11px;">WasCobs</th>
                                    <th style="padding-top:11px;">Del</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="model-run" class="col-sm-12">
                            <div class="text-center">
                                <a id="model-run-btn" class="btn btn-success map-btn" role="button">Run the model</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="model-result-page">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row map-tool-bar">
                            <div class="col-sm-6">
                                <form class="navbar-form navbar-left" id="search-result-prevent" role="search">
                                    <button class="btn btn-success map-switch-btn map-btn" type="button" id="show-field-map-result"><span class="show-field"></span></button>
                                    <button class="btn btn-primary map-switch-btn map-btn" type="button" id="show-subbasin-map-result"><span class="show-subbasin"></span></button>
                                    <div class="form-group search-field-subbasin">
                                        <div class="input-group">
                                            <input type="text" id="search-result-feature" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="text-right">
                                        <button class="btn btn-primary result-switch-btn map-btn" type="button" id="show-flow-result" href="#show-flow">Flow</button>
                                        <button class="btn btn-warning result-switch-btn map-btn" type="button" id="show-sediment-result" href="#show-sediment">Sediment</button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-n-result" href="#show-n"><span class="show-n"></span></button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-p-result" href="#show-p"><span class="show-p"></span></button>
                                       <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-cost-result" href="#show-c"><span class="show-c"></span></button>
                                        <button class="btn btn-default result-switch-btn map-btn" type="button" id="show-revenue-result" href="#show-r"><span class="show-r"></span></button> 
                                       <button class="btn btn-default result-switch-btn map-btn" type="button" id="show-cost-result" href="#show-c"><span class="show-c"></span></button>
                                        <button class="btn btn-default result-switch-btn map-btn" type="button" id="show-netreturn-result" href="#show-nr"><span class="show-nr"></span></button>                                                                              
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="model-result-map">
                            <div id="model-result-map">
                            </div>
                            <div id="result-feature-info">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="text-right">
                                        <button id="onsite-chart" class="btn btn-primary result-switch-btn map-btn" type="button">Onsite</button>
                                        <button id="offsite-chart" class="btn btn-primary result-switch-btn map-btn" type="button">Offsite</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="model-result-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 scenario-task">
                <div class="row">
                    <div class="model-issue-management">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="result-issue-title" placeholder="Title">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sel1" placeholder="FeatureID">
                                </div>
                                <div class="col-sm-12">
                                    <textarea id="result-issue-description" class="form-control" rows="2"></textarea>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-danger map-btn" id="result-issue-submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="result-issues">
                    <div id="result-issue-talk">
                        <div class="row">
                            <div class="col-sm-10 col-sm-push-1" id="talk-title">
                            </div>
                            <div class="col-sm-10 col-sm-push-1" id="talk-content">
                            </div>
                            <div class="col-sm-12" id="talk-reply">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-push-1">
                                        <hr>
                                        <textarea name="issue comment" id="issue-comment" rows="2" style="width: 100%" placeholder="Please leave comments"></textarea>
                                    </div>
                                    <div class="col-sm-10 col-sm-push-1 text-right">
                                        <button type="button" class="btn btn-primary map-btn" id="result-issue-comment-reply">Reply</button>
                                        <button type="button" class="btn btn-danger map-btn" id="result-issue-comment-close">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="responsive-timeline" class="col-sm-12 responsive-timeline">
                        <div>
                            <ul class="timeline" id="result-issue-timeline">
                            </ul>
                        </div>
                    </div>
                    <div id="report-generate" class="report-generate col-sm-12 text-right">
                        <div class="report_enter">
                            <a id="bmp-compare-btn" class="btn btn-success map-btn" role="button">Compare scenarios</a>
                            <!-- <button id="generate-report-btn" type="button" class="btn btn-default btn-sm ">
    Generate report
</button>
 -->
                            <button id="generate-report-btn" type="button" class="btn btn-primary map-btn">Generate report</button>
                        </div>
                        <div class="report_exit row">
                            <div class="divide col-sm-6 text-right">
                                <button type="button" class="btn btn-success btn-sm html-report-btn" id="report-html">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> HTML
                                </button>
                            </div>
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-success btn-sm pdf-report-btn" id="report-pdf">
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF
                                </button>
                            </div>
                            <div class="col-sm-2 text-left">
                                <button id="close-report" type="button" class="btn btn-danger btn-sm " aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="bmp-compare-page">
        <div class="row">
            <div class="col-sm-9">
                <div class="row map-tool-bar">
                    <div class="col-sm-6">
                        <form class="navbar-form navbar-left" id="search-compare-prevent" role="search" id="search-compare-prevent">
                            <button class="btn btn-success map-switch-btn map-btn" type="button" id="show-field-map2" href="#field-map"><span class="show-field"></span></button>
                            <button class="btn btn-primary map-switch-btn map-btn" type="button" id="show-subbasin-map2" href="#subbasin-map"><span class="show-subbasin"></span></button>
                            <div class="form-group search-field-subbasin">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search-compare-feature" placeholder="Search for...">
                                    <span class="input-group-btn">
                                </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="text-right">
                                <button class="btn btn-primary result-switch-btn map-btn" type="button" id="show-flow2" href="#show-flow">Flow</button>
                                <button class="btn btn-warning result-switch-btn map-btn" type="button" id="show-sediment2" href="#show-sediment">Sediment</button>
                                <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-n2" href="#show-n"><span class="show-n"></span></button>
                                <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-p2" href="#show-p"><span class="show-p"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="map-size-adjust">
                    <div id="model-compare-map" class="map">
                    </div>
                    <div id="compare-feature-info">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="text-center">
                        <h5></h5>
                        <hr>
                    </div>
                </div>
                <div class="map-size-adjust">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                            </div>
                            <div id="accordianmenu">
                                <ul>
                                    <li>
                                        <p>Conventional</p>
                                        <hr>
                                        <ul>
                                            <li>
                                                The conventional scenario represents the landscape under traditional agriculture. By default, there is no existing BMPs applied to the investigated fields/subbasins.
                                            </li>
                                            <hr>
                                        </ul>
                                    </li>
                                    <li>
                                        <p>Historical</p>
                                        <hr>
                                        <ul>
                                            <li>
                                                The historical scenario represents the existing Gully Creek watershed conditions including both existing WasCobs and land management practices.
                                            </li>
                                            <hr>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="model-run">
                            <div class="text-center">
                                <a id="model-compare-btn" class="btn btn-success map-btn" role="button">Compare the scenario</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="model-compare-page">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row map-tool-bar">
                            <div class="col-sm-6 col-sm-push-6">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="text-right">
                                        <button class="btn btn-primary result-switch-btn map-btn" type="button" id="show-flow-compare-result" href="#show-flow">Flow</button>
                                        <button class="btn btn-warning result-switch-btn map-btn" type="button" id="show-sediment-compare-result" href="#show-sediment">Sediment</button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-tn-compare-result" href="#show-n"><span class="show-n"></span></button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-tp-compare-result" href="#show-p"><span class="show-p"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="model-result-map">
                            <div id="compare-result-map">
                            </div>
                            <div id="compare-result-feature-info">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="text-right">
                                        <button class="btn btn-primary result-switch-btn map-btn" id="onsite-compare-chart" type="button">Onsite</button>
                                        <button class="btn btn-default result-switch-btn map-btn" id="offsite-compare-chart" type="button">Offsite</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="model-compare-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 scenario-task">
                <div class="row">
                    <div class="model-issue-management">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="result-issue-title2" placeholder="Title">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sel2" placeholder="FeatureID">
                                </div>
                                <div class="col-sm-12">
                                    <textarea id="result-issue-description2" class="form-control" rows="2"></textarea>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-danger map-btn" id="result-issue-submit2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="result-issues2">
                    <div id="result-issue-talk2">
                        <div class="row">
                            <div class="col-sm-10 col-sm-push-1" id="talk-title2">
                            </div>
                            <div class="col-sm-10 col-sm-push-1" id="talk-content2">
                                <hr> this is a test comment
                            </div>
                            <div class="col-sm-12" id="talk-reply2">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-push-1">
                                        <hr>
                                        <textarea name="issue comment" id="issue-comment2" rows="2" style="width: 100%" placeholder="Please leave comments"></textarea>
                                    </div>
                                    <div class="col-sm-10 col-sm-push-1 text-right">
                                        <button type="button" class="btn btn-primary map-btn" id="result-issue-comment-reply2">Reply</button>
                                        <button type="button" class="btn btn-danger map-btn" id="result-issue-comment-close2">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="responsive-timeline2" class="col-sm-12 responsive-timeline">
                        <div>
                            <ul class="timeline" id="result-issue-timeline2">
                                <!-- <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via v</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via k</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via s</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                        </div>
                                        <div class="timeline-body">
                                            <p> mais bolis eu num gostis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                        </div>
                                        <div class="timeline-body">
                                            <p> mais bolis eu num gostis.</p>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="report-generate col-sm-12 text-right">
                        <div class="report_enter">
                            <a id="model-optimize-btn" class="btn btn-success map-btn" role="button">Optimize scenario</a>
                            <button id="generate-report-btn2" type="button" class="btn btn-primary map-btn">Generate report</button>
                        </div>
                        <div class="report_exit row">
                            <div class="divide col-sm-6 text-right">
                                <button type="button" class="btn btn-success btn-sm html-report-btn" id="report-html2">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> HTML
                                </button>
                            </div>
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-success btn-sm pdf-report-btn" id="report-pdf2">
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF
                                </button>
                            </div>
                            <div class="col-sm-2 text-left">
                                <button id="close-report2" type="button" class="btn btn-danger btn-sm " aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="model-optimize-page">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row map-tool-bar">
                            <div class="col-sm-6">
                                <form class="navbar-form navbar-left" id="search-result-prevent" role="search">
                                    <button class="btn btn-success map-switch-btn map-btn" type="button" id="show-field-map-result"><span class="show-field"></span></button>
                                    <button class="btn btn-primary map-switch-btn map-btn" type="button" id="show-subbasin-map-result"><span class="show-subbasin"></span></button>
                                    <div class="form-group search-field-subbasin">
                                        <div class="input-group">
                                            <input type="text" id="search-result-feature" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="text-right">
                                        <button class="btn btn-primary result-switch-btn map-btn" type="button" id="show-opt-flow-result" href="#show-flow">Flow</button>
                                        <button class="btn btn-warning result-switch-btn map-btn" type="button" id="show-opt-sediment-result" href="#show-sediment">Sediment</button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-opt-tn-result" href="#show-n"><span class="show-n"></span></button>
                                        <button class="btn btn-info result-switch-btn map-btn" type="button" id="show-opt-tp-result" href="#show-p"><span class="show-p"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="model-result-map">
                            <div id="optimize-result-map">
                            </div>
                            <div id="optimization-result-feature-info">
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="model-optimize-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" id="model-optimize-input">
                    <div class="col-sm-3 ">
                        <label>
                            <input type="checkbox" id="budgetCheck"> Budget
                        </label>
                    </div>
                    <div class="col-sm-9 input-group">
                        <span class="input-group-btn">
                            <select class="btn" id="environmentType1">
                                <option>Water</option>
                                <option>Sediment</option>
                                <option>Total N</option>
                                <option>Total P</option>
                            </select>
                        </span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="budgetLimit">
                    </div>
                    <div class="col-sm-3 ">
                        <label>
                            <input type="checkbox" id="environmentCheck"> Environment
                        </label>
                    </div>
                    <div class="col-sm-9 input-group">
                        <span class="input-group-btn">
                            <select class="btn" id="environmentType2">
                                <option>Water</option>
                                <option>Sediment</option>
                                <option>Total N</option>
                                <option>Total P</option>
                            </select>
                        </span>
                        <input type="text" class="form-control" id="environmentLimit">
                    </div>
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-danger map-btn" id="runOptimizationModel">Optimize</button>
                    </div>
                </div>
                <div class="row">
                    <div id="bmp-optimize-table" class="col-sm-12">
                        <table class="table table-condensed table-hover" id="optmizationTable">
                            <tr>
                                <th style="padding-top:11px;">ID</th>
                                <th style="padding-top:11px;">CC</th>
                                <th style="padding-top:11px;">CT</th>
                                <th style="padding-top:11px;">NM</th>
                                <th style="padding-top:11px;">WasCobs</th>
                            </tr>
                            <tr>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                            </tr>
                            <tr>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                                <td style="padding-top:11px;"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="report-generate col-sm-12 text-right">
                        <div class="report_enter">
                            <button id="generate-report-btn3" type="button" class="btn btn-primary map-btn">Generate report</button>
                        </div>
                        <div class="report_exit row">
                            <div class="divide col-sm-6 text-right">
                                <button type="button" class="btn btn-success btn-sm html-report-btn" id="report-html3">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> HTML
                                </button>
                            </div>
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-success btn-sm pdf-report-btn" id="report-pdf3">
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF
                                </button>
                            </div>
                            <div class="col-sm-2 text-left">
                                <button id="close-report3" type="button" class="btn btn-danger btn-sm " aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/ol.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- <script src="https://github.com/highcharts/highcharts/blob/master/js/themes/dark-unica.js"></script> -->
    <script src="/assets/js/map.js" type="text/javascript" charset="utf-8"></script>
    {{end}}
