<html>

<head>
    <script src="/assets/js/jquery-3.1.0.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-switch.css">

    <script src="/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/bootstrap-switch.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/p_layout.css">
    <!-- fontawesome -->
    <script src="/assets/js/fontawesome.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <!-- <script src="https://use.fontawesome.com/b74a914524.js"></script>    -->
    <!-- font -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
    <!-- for scenario map -->
    <link rel="stylesheet" type="text/css" href="/assets/css/map.css">
    <link rel="stylesheet" href="/assets/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="http://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid" id="header">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="logowrapper">
                    <img alt="Brand" src="/assets/images/logo_transparent.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {{if .CurrentUser}}
                    <li> <a href="/account" class="navbar-link">Account</a></li>
                    <li><a href="/sign-out">Sign Out</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    <li style="background:#9C0505"><a href="/register">Register an account?</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{if .Flash}}
        <div class="alert alert-info">
            {{.Flash}}
        </div>
        {{end}}
    </div>
    {{ yield }}
</body>

</html>
